* {
  box-sizing: border-box;
}
.body {
  width: 35%;
  height: 100%;
  display: flex;
  background-color: #591f12;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 60px;
  width: 100%;
  border-radius: 1px;
  border: none;
  margin: 1px;
  cursor: pointer;
}

.button:active {
  background-color: black;
}

.button:hover {
  background: white;
  opacity: 90%;
}

.operator {
  color: #d91e1e;
  background-color: #6fbf8b;
}

.erase {
  flex: 2.17;
}

.backspace {
  flex: 1;
}

.divide {
  flex: 1;
}

.zero {
  flex: 3.34;
}

.equal {
  flex: 1;
}

.operation {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 40px;
  color: black;
  background-color: lightblue;
  border-top: 2px solid #591f12;
  border-left: 2px solid #591f12;
  border-right: 2px solid #591f12;
  border-bottom: 1px solid #591f12;
  font-family: sans-serif;
}
